<div class="adminResources index large-9 medium-8 columns content">
    <h3><%='Welcome Administrator' %></h3>
</div>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading">
            <%='Menu' %>
        </li>
        <li> <a href="notifications.html">See All Alerts</a></li>
        <li> <a href="notifications.html">See All Alerts</a></li>
        <li> <a href="notifications.html">See All Alerts</a></li>
        <li> <a href="notifications.html">See All Alerts</a></li>
        <li> <a href="notifications.html">See All Alerts</a></li>
        <li> <a href="notifications.html">See All Alerts</a></li>
        <li> <a href="notifications.html">See All Alerts</a></li>
    </ul>
</nav>